.container {
  display: flex;
  width: 100%;
  margin: 100px auto;
}

.animeInfo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 320px;
  height: 100%;
  background-color: #f9f6ee;
}

.anime-row {
  display: flex;
  flex-direction: column;
}

.anime-row .row {
  display: inline-flex;
  gap: 20px;
  margin-left: 20rem;
}

.anime-row .text-heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 21rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 300px;
  padding: 0 0 1rem 0;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card img {
  width: 80%;
  height: auto;
  overflow: hidden;
}

.card .anime-info {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.card:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: -1.6rem;
  width: 100%;
  height: 0;
  padding: 1rem;
  text-align: justify;
  background-color: rgba(115, 197, 197, 0.9);
  border-radius: 10rem 3rem 0 0;
  opacity: 0.2;
  transition: 0.5s;
}

.anime-info:hover .overlay {
  opacity: 1;
  height: 90%;
}

.overlay .synopsis {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  overflow: auto;
}

.title-overlay {
  padding: 0.8rem 0 0.5rem 5rem;
}
